<header class="header headerWithTabs navbar bg-default">
    <div class="navbar-header mg-r-lg">
        <h3>
            Customer Loyalty
        </h3>
    </div>
    <div class="clearfix"></div>

    <ul class="nav navbar-nav nav-tabs">
        @{ var ActiveTab = "active"; }
        @foreach (var Item in ViewData["DocumentTabs"] as List<Hovis.Excellence.Web.Areas.MasterData.ViewModels.ActTabsViewModelV4>)
        {
            var pageTabName = "#" + Item.TabName;
            <li class=@ActiveTab>
                <a href=@pageTabName data-toggle="tab">@Html.DisplayFor(modelItem => Item.TabName)</a>
            </li>
            ActiveTab = "";
        }
    </ul>
</header>

<!-- content wrapper -->
<div class="content-wrap">
    <div class="row">
        <div class="col-lg-12">
            <section class="tab-content ">
                @{ var NoOfTabs = 0; }
                @foreach (var Item in (ViewData["DocumentTabs"] as List<Hovis.Excellence.Web.Areas.MasterData.ViewModels.ActTabsViewModelV4>))
                {
                    if (NoOfTabs == 0)
                    {
                        <section class="tab-pane active" id=@Item.TabName>
                            <section class="panel bg-none">
                                <div class="panel">
                                    @{ var byCatItemIndex = 0; }
                                    @foreach (var byCatItem in (ViewData["DocumentCats"] as List<Hovis.Excellence.Web.Areas.MasterData.ViewModels.ActTabsViewModelV6>))
                                    {
                                        if (byCatItem.TabName == Item.TabName)
                                        {
                                            byCatItemIndex++;
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@string.Join("", Item.TabName, "byCatCollapse", byCatItemIndex)">
                                                    @byCatItem.CatName
                                                </a>
                                            </div>
                                            <div id="@string.Join("", Item.TabName, "byCatCollapse", byCatItemIndex)" class="panel-collapse collapse">
                                               <div class="panel-body">
                                                  <table class="table no-margin">
                                                      <thead>
                                                          <tr>
                                                              <th class="col-md-6 pd-l-lg">
                                                                  <span class="pd-l-sm"></span>Name
                                                              </th>
                                                              <th class="col-md-2">Type</th>
                                                              <th class="col-md-1">Issue Number</th>
                                                              <th class="col-md-1">Issue Date</th>
                                                              <th class="col-md-2">Action</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          @foreach (var document in (ViewData["Documents"] as List<Hovis.Excellence.Web.Models.Document>))
                                                          {
                                                              if (document.DocumentCategory.Name == byCatItem.CatName && document.DocumentTabs.Name == Item.TabName)
                                                              {
                                                                  <tr>
                                                                      <td>
                                                                          <span class="pd-l-sm"></span>
                                                                          @Html.ActionLink(document.Title, "Index", "Document", new { id = @document.Id }, null)
                                                                      </td>
                                                                      <td>@document.DocumentType.Name</td>
                                                                      <td>@document.IssueNumber</td>
                                                                      <td>@document.IssueDate.ToString("dd-MM-yyyy")</td>
                                                                      <td>
                                                                            @Html.ActionLink("Details", "Index", "Document", new { id = @document.Id }, new { @class = "btn btn-xs btn-success" }) @Html.ActionLink("Docs", "Index", "DocumentLinks", new { id = @document.Id, area = "MasterData", fromarea = "CustomerLoyalty", fromdocument = "Home" }, new { @class = "btn btn-info btn-xs" }) @if (User.IsInRole("Admin"))
                                                                            {@Html.ActionLink("Delete", "Delete", "Home", new { id = @document.Id, area = "CustomerLoyalty", fromarea = "CustomerLoyalty" }, new { @class = "btn btn-danger btn-xs" })}
                                                                          @*@Html.ActionLink("Details", "Index", "Document", new { id = @document.Id }, new { @class = "btn btn-xs btn-success" }) @Html.ActionLink("Docs", "Index", "DocumentLinks", new { id = @document.Id, area = "MasterData", fromarea = "CustomerLoyalty" }, new { @class = "btn btn-info btn-xs" })*@
                                                                      </td>
                                                                  </tr>
                                                              }
                                                          }
                                                      </tbody>
            </table>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </section>
                        </section>
                    }
                    else
                    {
                        <section class="tab-pane" id=@Item.TabName>
                            <section class="panel bg-none">
                                <div class="panel">
                                    @{ var byCatItemIndex = 0; }
                                    @foreach (var byCatItem in (ViewData["DocumentCats"] as List<Hovis.Excellence.Web.Areas.MasterData.ViewModels.ActTabsViewModelV6>))
                                    {
                                        if (byCatItem.TabName == Item.TabName)
                                        {
                                            byCatItemIndex++;
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@string.Join("", Item.TabName, "byCatCollapse", byCatItemIndex)">
                                                    @byCatItem.CatName
                                                </a>
                                            </div>
    <div id="@string.Join("", Item.TabName, "byCatCollapse", byCatItemIndex)" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th class="col-md-6 pd-l-lg">
                            <span class="pd-l-sm"></span>Name
                        </th>
                        <th class="col-md-2">Type</th>
                        <th class="col-md-1">Issue Number</th>
                        <th class="col-md-1">Issue Date</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var document in (ViewData["Documents"] as List<Hovis.Excellence.Web.Models.Document>))
                    {
                        if (document.DocumentCategory.Name == byCatItem.CatName && document.DocumentTabs.Name == Item.TabName)
                        {
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>
                                    @Html.ActionLink(document.Title, "Index", "Document", new { id = @document.Id }, null)
                                </td>
                                <td>@document.DocumentType.Name</td>
                                <td>@document.IssueNumber</td>
                                <td>@document.IssueDate.ToString("dd-MM-yyyy")</td>
                                <td>
                                    @Html.ActionLink("Details", "Index", "Document", new { id = @document.Id }, new { @class = "btn btn-xs btn-success" }) @Html.ActionLink("Docs", "Index", "DocumentLinks", new { id = @document.Id, area = "MasterData", fromarea = "CustomerLoyalty", fromdocument = "Home" }, new { @class = "btn btn-info btn-xs" }) @if (User.IsInRole("Admin"))
                                    {@Html.ActionLink("Delete", "Delete", "Home", new { id = @document.Id, area = "CustomerLoyalty", fromarea = "CustomerLoyalty" }, new { @class = "btn btn-danger btn-xs" })}
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
                                        }
                                    }
                                </div>
                            </section>
                        </section>
                    }

                    NoOfTabs++;
                }
            </section>
</div>
    </div>
</div>